<form #form="ngForm" (submit)="onSubmit(form)">
  <div class="row">
    <div col="col-md-5">
      <div class="form-group">
        <input name="name" #name="ngModel" [(ngModel)]="service.productData.name" class="form-control" placeholder="Product Name" />
      </div>
      <div class="form-group">
        <input name="category" #category="ngModel" [(ngModel)]="service.productData.category" class="form-control" placeholder="Product category" />
      </div>
      <div class="form-group">
        <input name="color" #color="ngModel" [(ngModel)]="service.productData.color" class="form-control" placeholder="Product color" />
      </div>
      <div class="form-group">
        <input name="unitPrice" #unitPrice="ngModel" [(ngModel)]="service.productData.unitPrice" class="form-control" placeholder="Product Unit price" />
      </div>
      <div class="form-group">
        <input name="availableQuantity" #availableQuantity="ngModel" [(ngModel)]="service.productData.availableQuantity" class="form-control" placeholder="Available Quantity" />
      </div>
      <div class="form-group">
        <input name="cratedDate" #cratedDate="ngModel" [(ngModel)]="service.productData.cratedDate" class="form-control" placeholder="Created Date" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn-primary btn-success btn-lg btn-block"> Submit </button>
      </div>
    </div>
  </div>
</form>


