<h1 id="tableLabel">Products List </h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!product"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="product">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Color</th>
      <th>Category</th>
      <th>availablequantity</th>
      <th>unitprice</th>
      <th>created date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of product">
      <td>{{ prod.productid }}</td>
      <td>{{ prod.name }}</td>
      <td>{{ prod.color }}</td>
      <td>{{ prod.category }}</td>
      <td>{{ prod.availablequantity }}</td>
      <td>{{ prod.unitprice }}</td>
      <td>{{ prod.crateddate }}</td>
    </tr>
  </tbody>
</table>
